/**
 * THIS WILL CONTAIN ALL THE STYLING FOR 
 * LOGIN, SIGN UP AND FORGET PASSWORD fORM 
 * IN ORDER TO GET A CONSISTENT LOOK
 *
 * @format
 */

.close-icon {
    text-align: right;
    padding: 15px 30px;
    font-size: 30px;
    cursor: pointer;
}

.close-icon a {
    text-decoration: none;
    color: black;
}
.form-and-image-container {
    display: flex;
    align-items: center;
}

.form-images,
.actual-form {
    width: 50%;
}

/* STYLING FOR THE ACTUAL FORM */
.form-and-image-container .form-images {
    display: flex;
    flex-direction: column;
}

.actual-form > * {
    display: block;
    width: 75%;
    margin: 0 auto;
}

.form-and-image-container input,
.form-and-image-container button {
    padding: 13px 20px;
    margin: 7px auto;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.104);
}

.fist-and-last-name {
    display: flex;
    column-gap: 10px;
}
.fist-and-last-name span{
    width: 50%;
}
.terms-and-condition > input {
    width: auto;
}
.password-input input {
    border: none;
    padding: 0;
    width: 90%;
    outline: none;
    margin: 0;
}
.password-input > div {
    border: 1px solid rgba(0, 0, 0, 0.104);
    display: flex;
    justify-content: space-between;
    padding: 9px 20px;
    margin: 15px 0;
    border: 1px solid rgba(0, 0, 0, 0.104);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
}
.email-and-phone_number input,
.fist-and-last-name input {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.049);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.form-and-image-container button[type='submit'] {
    background-color: var(--light-blue);
    border: none;
    color: white;
}
.form-and-image-container button[type='submit']:hover {
    background-color: var(--main-blue);
}

/* CONTINUE WITH GOOGLE  */
.separator {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px auto;
}

.line {
    flex-grow: 1;
    height: 1px;
    background-color: #ccc;
    border: none;
}

.or {
    margin: 0 10px;
    font-weight: bold;
    color: #555;
}
.form-and-image-container button[type='button'] {
    display: flex;
    justify-content: center;
    column-gap: 30px;
}
button[type='button'] img {
    width: 25px;
}

/* FORM IMAGE DESIGN */
.form-image-container {
    width: 50%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
        rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.form-image {
    width: 30%;
}

.form-image {
    display: flex;
    align-items: center;
    row-gap: 20px;
    flex-direction: column;
    overflow: hidden;
    height: 90vh;
    position: relative;
}
.form-image img {
    width: 90%;
    height: 240px;
    object-fit: cover;
    border-radius: 30px;
    display: block;
}
.error{
    color: rgb(249, 0, 0);
}
.image-group1 img {
    animation: scrollDown 15s linear infinite;
}

.image-group3 img {
    animation: scrollDown 10s linear infinite;
}

.image-group2 img {
    animation: scrollUp 18s linear infinite;
}


.forget-password{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.actual-form a,
.forget-password a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    transition: 1.7s;
}

.actual-form a:hover,
.forget-password a:hover{
    text-decoration: underline;
    text-underline-offset: 7px;
}
.privacy-policy{
    font-size: 14px;
}

@keyframes scrollUp {
    0% {
        transform: translateY(-120%);
    }
    100% {
        transform: translateY(30%);
    }
}

@keyframes scrollDown {
    0% {
        transform: translateY(10%);
    }
    100% {
        transform: translateY(-100%);
    }
}

@media screen and (max-width: 651px) {
    .form-image-container {
        display: none;
    }
    .actual-form {
        width: 100%;
    }
}
