<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/global.css">
    <link rel="stylesheet" href="../static/css/landing.css">
    <link rel="icon" href="../static/images/landingpagImages/Favicon.png" type="image/png">
    <title>Sentinel | Landing page</title>
</head>

<body>

    <!-- NAVIGATION BAR  -->
    <nav class="landing_page-navbar">
        <div class="logo">
            <img src="../static/images/landingpagImages/Logo.png" alt="Company Logo">
        </div>

        <ul id="menu-items">
            <div class="nav-links">
                <li><a href="">Home</a></li>
                <li><a href="#feature-section">Features</a></li>
                <li><a href="#how_it_works-section">How IT Works</a></li>
                <li><a href="#faqs-section">FAQ</a></li>
                <li><a href="#contact-us">Contact</a></li>
            </div>

            <div class="sign-up-links">
                <li><a href="./register">Sign Up</a></li>
                <li class="blue"><a href="./login">Login</a></li>
            </div>
        </ul>

        <div class="open-menu" id="menu-icon">
            <img src="../static/images/landingpagImages/menu-button.svg" alt="" loading="lazy">
        </div>

    </nav>
    <div id="overlay"></div>
    <!-- END OF NAVIGATION BAR -->

    <!-- HERO SECTION -->
    <header class="hero-section">
        <div class="hero-section-text">
            <h1>Secure Payments, Ensure Quality Services</h1>
            <p>Sentinel is the bridge between businesses and clients, offering a secure platform for transactions and
                ensuring quality service</p>
            <a href="">Get Started</a>
        </div>

        <div class='hero-section-image'>
            <img src="../static/images/landingpagImages/hero-image.png" alt="">
        </div>
    </header>

    <!-- WHY CHOSE US SECTION -->

    <section class="why-chose-us">
        <h1>Why Choose <span>Sentinel</span>?</h1>
        <p>Sentinel bridges the gap between businesses and clients, ensuring that payments are secure and services meet
            the highest
            standards before any money changes hands. Whether you are selling goods, offering services, or providing
            digital
            products, Sentinel guarantees satisfaction and security for both parties.</p>
    </section>

    <!-- HOW IT WORKS SECTION -->
    <section class="how_it_works-section" id="how_it_works-section">
        <h1>How <span>Sentinel</span> Works</h1>

        <div class="how_it_works-container">
            <div class="how_it_works-image center">
                <img src="../static/images/landingpagImages/Plain credit card-rafiki.png" alt="">
            </div>

            <div class="how_it_works-text">
                <div class="how_it_works-box">
                    <div class="icon center">
                        <img src="../static/images/landingpagImages/icons/create_account.svg" alt="">
                    </div>
                    <div class="text">
                        <h2>Create an Account</h2>
                        <p>Sign up as a business or client to start using Sentinel </p>
                    </div>
                </div>

                <div class="how_it_works-box">
                    <div class="icon center">
                        <img src="../static/images/landingpagImages/icons/initiate_transaction.svg" alt="">
                    </div>
                    <div class="text">
                        <h2>Initiate a Transaction</h2>
                        <p>Clients place orders and make payments through our platform.</p>
                    </div>
                </div>

                <div class="how_it_works-box">
                    <div class="icon center">
                        <img src="../static/images/landingpagImages/icons/service_delivered.svg" alt="">
                    </div>
                    <div class="text">
                        <h2>Service Delivery</h2>
                        <p>Business owners deliver the goods or services.</p>
                    </div>
                </div>

                <div class="how_it_works-box">
                    <div class="icon center">
                        <img src="../static/images/landingpagImages/icons/client_review.svg" alt="">
                    </div>
                    <div class="text">
                        <h2>Client Review</h2>
                        <p>Clients review and vet the work delivered.</p>
                    </div>
                </div>

                <div class="how_it_works-box">
                    <div class="icon center">
                        <img src="../static/images/landingpagImages/icons/payment_release.svg" alt="">
                    </div>
                    <div class="text">
                        <h2>Secure Payment Release</h2>
                        <p>Once approved, the payment is released to the business owner.</p>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- FEATURE SECTION -->
    <section class="feature-section" id="feature-section">
        <h1>what <span>Sentinel</span> offer</h1>
        <p class="intro">Sentinel is designed to provide a secure, versatile, and user-friendly experience for both
            clients and service providers. Below are the core features that make Sentinel stand out:</p>
        <div class="feature-section-container center first">
            <div class="feature-section-image"><img src="../static/images/landingpagImages/Personal settings-cuate.png"
                    alt=""></div>
            <div class="feature-section-text">
                <h2>User-Friendly Interface</h2>
                <p>Our platform is designed with ease of use in mind. From initiating transactions to reviewing
                    services, Sentinel makes
                    the entire process simple and efficient for both clients and service providers, ensuring a smooth
                    and hassle-free
                    experience</p>
            </div>
        </div>

        <div class="feature-section-container center second">
            <div class="feature-section-image">
                <img src="../static/images/landingpagImages/Credit Card Payment-pana.png" alt="">
            </div>
            <div class="feature-section-text">
                <h2>Secure Payments</h2>
                <p>With Sentinel, payments are held securely until the client approves the work, ensuring that both
                    parties are satisfied
                    before any money changes hands. This dual-layer of protection guarantees that clients receive
                    quality work and that
                    service providers get paid for their efforts</p>
            </div>
        </div>

        <div class="feature-section-container center third">
            <div class="feature-section-image">
                <img src="../static/images/landingpagImages/Ok-amico.png" alt="">
            </div>
            <div class="feature-section-text">
                <h2>Quality Assurance</h2>
                <p>Clients have the opportunity to review and approve work before releasing payment. This ensures that
                    the work meets their
                    standards and expectations, providing peace of mind and promoting trust between clients and service
                    providers</p>
            </div>
        </div>
    </section>

    <!-- REVIEW SECTION -->
    <section class="review-section" id="review-section">
        <div class="review-section-image">
            <img src="../static//images/landingpagImages/ai-generated-8772394_1920.png" alt="">
        </div>
        <div class="review-section-text">
            <h1>Pay or get paid securely with <span>Sentinel</span></h1>
            <p>Our dedicated customer service team is always
                ready to assist you with any questions or
                concerns you may have.</p>
            <h3>Trusted by:</h3>
            <img src="../static/images/landingpagImages/trustPilot.png" alt="trust pilot logo"
                class="trust-pilot-logo">
        </div>
    </section>

    <!-- FREQUENTLY ASKED QUESTIONS SECTION-->
    <section class="faqs-section" id="faqs-section">
        <h1>Frequently Asked <span>Questions</span></h1>

        <div class="faqs-container">
            <div class="faq-box">
                <div class="text-and-button">
                    <p>What is Sentinel?</p>
                    <div class="icon"><img src="../static/images/landingpagImages/icons/arrow_down.svg"
                            alt="show answer button">
                    </div>
                </div>
                <p class="faqs-answer">
                    Sentinel is an intermediary platform that ensures secure payments and quality assurance for both
                    clients and
                    businesses.
                    Payments are only released after the client approves the work.
                </p>
            </div>

            <div class="faq-box">
                <div class="text-and-button">
                    <p>How does Sentinel work?</p>
                    <div class="icon"><img src="../static/images/landingpagImages/icons/arrow_down.svg"
                            alt="show answer button">
                    </div>
                </div>
                <p class="faqs-answer">
                    Clients initiate a transaction and make a payment. The payment is held securely by Sentinel until
                    the client reviews and
                    approves the work. Once approved, the payment is released to the service provider.
                </p>
            </div>

            <div class="faq-box">
                <div class="text-and-button">
                    <p>What types of services does Sentinel support?</p>
                    <div class="icon"><img src="../static/images/landingpagImages/icons/arrow_down.svg"
                            alt="show answer button">
                    </div>
                </div>
                <p class="faqs-answer">
                    Sentinel supports both physical goods (e.g., shoes, bags) and digital services (e.g., website
                    design, graphic design).
                </p>
            </div>

            <div class="faq-box">
                <div class="text-and-button">
                    <p>How do I sign up for Sentinel?</p>
                    <div class="icon"><img src="../static/images/landingpagImages/icons/arrow_down.svg"
                            alt="show answer button">
                    </div>
                </div>
                <p class="faqs-answer">
                    You can sign up by clicking the "Sign Up Now" button on our homepage and following the registration
                    process.
                </p>
            </div>

            <div class="faq-box">
                <div class="text-and-button">
                    <p>How secure are the payments on Sentinel?</p>
                    <div class="icon"><img src="../static/images/landingpagImages/icons/arrow_down.svg"
                            alt="show answer button">
                    </div>
                </div>
                <p class="faqs-answer">
                    Payments are held in a secure escrow account and only released to the service provider once the
                    client approves the
                    work, ensuring a safe transaction for both parties.
                </p>
            </div>

            <div class="faq-box">
                <div class="text-and-button">
                    <p>Can I cancel a transaction?</p>
                    <div class="icon"><img src="../static/images/landingpagImages/icons/arrow_down.svg"
                            alt="show answer button">
                    </div>
                </div>
                <p class="faqs-answer">
                    Yes, transactions can be canceled before the service is completed. Please contact our support team
                    for assistance with
                    cancellations.
                </p>
            </div>

            <div class="faq-box">
                <div class="text-and-button">
                    <p>What happens if there is a dispute between the client and the service provider?</p>
                    <div class="icon"><img src="../static/images/landingpagImages/icons/arrow_down.svg"
                            alt="show answer button">
                    </div>
                </div>
                <p class="faqs-answer">
                    In case of a dispute, our support team will mediate and help resolve the issue to ensure a fair
                    outcome for both
                    parties.
                </p>
            </div>

            <div class="faq-box">
                <div class="text-and-button">
                    <p>How long does it take for the service provider to get paid?</p>
                    <div class="icon"><img src="../static/images/landingpagImages/icons/arrow_down.svg"
                            alt="show answer button">
                    </div>
                </div>
                <p class="faqs-answer">
                    Service providers are paid as soon as the client approves the work. The time frame may vary
                    depending on the client's
                    review process.
                </p>
            </div>

            <div class="faq-box">
                <div class="text-and-button">
                    <p>How can I contact Sentinel support?</p>
                    <div class="icon"><img src="../static/images/landingpagImages/icons/arrow_down.svg"
                            alt="show answer button">
                    </div>
                </div>
                <p class="faqs-answer">
                    You can contact our support team via email at support@sentinel.com or call us at 1-800-123-4567. We
                    are here to assist
                    you with any questions or issues.
                </p>
            </div>

        </div>
    </section>

    <!-- CONTACT US SECTION -->
    <section class="contact-us" id="contact-us">
        <div class="contact-us-text">
            <h1>Connect Us for support</h1>
            <p>Reach out today for tailored insurance solutions and expert guidance.</p>
            <h3>Address:</h3>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page</p>
            <h3>Contacts:</h3>
            <p>Email: hello@company.com</p>
            <p>Phone: +1(215)555-1122</p>
        </div>

        <form action="">
            <h1>Contact Us</h1>
            <p> Fill out the form below, and we'll get back to you as soon as possible.</p>
            <div class="name_and_email-input">
                <input type="text" id="name" placeholder="Name">
                <input type="email" id="email" placeholder="email">
            </div>
            <textarea placeholder="Message"></textarea>
            <button>submit</button>
        </form>
    </section>

    <!-- FOOTER SECTION -->
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-section">
                <div class="footer-logo">
                    <img src="../static/images/landingpagImages/Logo.png" alt="Phlox">
                </div>
            <p>Your trusted platform for secure transactions and quality services.</p>
            </div>
            <div class="footer-section">
                <h4>Quick Links</h4>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Features</a></li>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h4>Social media links</h4>
                <ul>
                    <li><a href="#">LinkedIn</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Instagram</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h4>Legal</h4>
                <ul>
                    <li><a href="#">Terms of Service</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Refund Policy</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h4>Follow Us</h4>
                <div class="footer-social-icons">
                    <a href="#"><img src="../static/images/landingpagImages/icons/icon.svg" alt="Twitter"></a>
                    <a href="#"><img src="../static/images/landingpagImages/icons/icon-2.svg" alt="Behance"></a>
                    <img src="" alt="">
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-slack"></i></a>
                </div>
                <div class="footer-subscribe">
                    <input type="email" placeholder="Email Address">
                    <button>Subscribe</button>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>© 2024 All rights reserved.</p>
        </div>
    </footer>
    <script src="../static/js/landing.js"></script>
</body>

</html>